<div class="header">
    <div class="logo-container">
      <img src="assets/logo.png" alt="Site Logo" class="logo"/>
    </div>
    <a href="/home">
      <div class="site-name">
        <h1>BlaBlaCar site</h1>
      </div>
    </a>
    <div class="auth-container">
      <ng-container *ngIf="isAuthenticated; else notAuthenticated">
        <a href="/users/{{username}}">
          <img src="assets/propic.png" alt="Profile Photo" class="profile-photo"/>
        </a>
      </ng-container>
      <ng-template #notAuthenticated>
        <button class="auth-button" (click)="login()">Login</button>
        <button class="auth-button" (click)="signup()">Signup</button>
      </ng-template>
    </div>
</div>
  