<div>
  <div *ngIf="ads.length > 0" class="ads-container">
    <h2>{{ title }}</h2>
    <ul class="ad-list">
      <li class="ad-box" *ngFor="let ad of ads">
        <p class="ad-date">{{ ad["date"] }}</p>
        <p class="ad-route">
          {{ ad["departureCity"] }} {{ ad["departureTime"] }} &rarr; {{ ad["arrivalCity"] }} {{ ad["arrivalTime"] }}
        </p>
        <p class="ad-car">{{ ad["car"] }}</p>
        <div *ngIf="ad.isPublished">
          <button>Remove ad</button>
        </div>
        <div *ngIf="!ad.isPublished && !ad.isBooking && !ad.isBooked">
          <button>Book a ride</button>
        </div>
        <div *ngIf="ad.isBooking && ad.isBooked">
          <button>Remove booking</button>
        </div>
      </li>
    </ul>
  </div>
  <div *ngIf="ads.length === 0">
    <h2>No ads available.</h2>
  </div>
</div>
