<div>
  <div *ngIf="ads">
    <h2>{{ title }}</h2>
    <div *ngIf="ads.length > 0" class="ads-container">
      <ul class="ad-list">
        <li class="ad-box" *ngFor="let ad of ads">
          <p class="ad-date">{{ ad["date"] }}</p>
          <div class="ad-route">
            <div class="city-time">
              <span class="city">{{ ad["departureCity"] }}</span>
              <span class="time">{{ ad["departureTime"] }}</span>
            </div>
            <div class="route-line">
              <div class="line"></div>
              <p class="ad-car">{{ ad["car"] }}</p>
            </div>
            <div class="city-time">
              <span class="city">{{ ad["arrivalCity"] }}</span>
              <span class="time">{{ ad["arrivalTime"] }}</span>
            </div>
          </div>
          <div *ngIf="ad.isPublishedOrBooking">
            <button>Remove ad</button>
          </div>
          <div *ngIf="!ad.isPublishedOrBooking && !ad.isBooked">
            <button (click)="bookAd(ad)">Book a ride</button>
          </div>
          <div *ngIf="!ad.isPublishedOrBooking && ad.isBooked">
            <button (click)="removeBooking(ad)">Remove booking</button>
          </div>
        </li>
      </ul>
    </div>
    <div *ngIf="ads.length === 0">
      <p>No ads available.</p>
    </div>
  </div>
</div>